docker
plumbum
pre-commit
pytest
pytest-rerunfailures
# `pytest-xdist` is a plugin that provides the `--numprocesses` flag,
# allowing us to run `pytest` tests in parallel
pytest-xdist
python-dateutil
requests
tabulate
tenacity
