git+https://github.com/xingetouzi/fxdayu_data.git
git+https://github.com/xingetouzi/rqalpha-mod-fxdayu-source.git
git+https://github.com/xingetouzi/rqalpha-mod-optimization.git
git+https://github.com/xingetouzi/ipyparallel-mesos.git
TA-lib