# ReadTheDocs environment contains old package versions preinstalled
# So, to ensure we have modern packages, we pin minimum versions of the packages we need
docutils==0.23
myst-parser>=5.1.0
sphinx>=9.1.0
sphinx-book-theme>=1.4.0
sphinx-copybutton>=0.5.2
sphinx-last-updated-by-git>=0.3.8
sphinxcontrib-mermaid>=2.1.0
