name: Build Docker Images

on:
  pull_request:
    paths-ignore:
      - "*.md"
      - "binder/**"
      - "docs/**"
      - "examples/**"
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
      - "binder/**"
      - "docs/**"
      - "examples/**"

jobs:
  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    if: >
      !contains(github.event.head_commit.message, 'ci skip') &&
      !contains(github.event.pull_request.title, 'ci skip')
    steps:
      - name: Clone Main Repo
        uses: actions/checkout@v2
        with:
          path: main
      - name: Clone Wiki
        uses: actions/checkout@v2
        with:
          repository: ${{github.repository}}.wiki
          path: wiki
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Dev Dependencies
        run: |
          python -m pip install --upgrade pip
          make -C main dev-env hadolint-install
      - name: Lint Dockerfiles
        run: make -C main hadolint-all
      - name: Run pre-commit hooks
        run: make -C main pre-commit-all
      - name: Build Docker Images
        run: make -C main build-test-all
      - name: Run Post-Build Hooks
        run: make -C main hook-all
        env:
          COMMIT_MSG: "${{github.event.head_commit.message}}"
          WIKI_PATH: ../wiki
      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/master'
        run: >
          echo '${{secrets.DOCKERHUB_PASSWORD}}' | docker login --username
          '${{secrets.DOCKERHUB_USERNAME}}' --password-stdin
      - name: Push Images to DockerHub
        if: github.ref == 'refs/heads/master'
        run: make -C main push-all
      - name: Push Wiki to GitHub
        if: github.ref == 'refs/heads/master'
        # Pass GITHUB_REPOSITORY directly to avoid conflict with GitHub Actions built-in env var
        run: make -C main git-commit GITHUB_REPOSITORY='${{ github.repository }}.wiki'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LOCAL_PATH: ../wiki
