name: Run pre-commit hooks

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  run-hooks:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest
    if: >
      !contains(github.event.head_commit.message, 'ci skip') &&
      !contains(github.event.pull_request.title, 'ci skip')
    steps:
      - name: Clone Main Repo
        uses: actions/checkout@v2
        with:
          path: main
      - name: Set Up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pre-commit
      - name: Run pre-commit hooks
        run: make -C main pre-commit-all
