name: Run pre-commit hooks

on:
  pull_request:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-hooks:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest

    steps:
      - name: Clone Main Repo
        uses: actions/checkout@v3
        with:
          path: main

      - name: Set Up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pre-commit

      - name: Run pre-commit hooks
        run: make -C main pre-commit-all
